# Install CUDA-enabled torch and torchvision for Windows first using:
# https://pytorch.org/get-started/locally/
# All M1/M2/M3 code is self-contained; these are external libraries only.
numpy>=2.0,<3
SimpleITK>=2.4,<3
matplotlib>=3.9,<4
torchinfo==1.8.0
ipykernel>=6.29,<8
jupyterlab>=4,<5
